html, body {
	background: white;
	position: relative;
	padding: 0;
	margin: 0;
	line-height: 1.5rem;
	font-size: 15px;
}
* {
	box-sizing: border-box;
}

.header {
	display: grid;
	gap: 1rem;
	padding: 0.5rem 0.5rem 0;
	grid-template-columns: 1fr;
}

	.header .block {
		padding: 0.5rem;
	}

	.logo {
		background: #00aa0033;
	}

	.header .contact {
		background: #ad21db55;
	}

	.menu-toggle {
		background: #11111155;
	}

	.menu {
		background: #1133fa55;
		display: none;
	}

	.menu.show {
		display: block;
	}

@media (min-width: 45rem) {
	.header {
		grid-template-columns: auto 1fr auto;
		padding: 2rem 2rem 0;
	}

	.menu {
		grid-column: 1/4;
	}
}

@media (min-width: 75rem) {
	.header {
		grid-template-columns: auto 1fr auto;
	}

	.menu {
		grid-column: 2/3;
		grid-row: 1/2;
		display: block;
	}

	.header .contact {
		grid-column: 3/4;
	}

	.menu-toggle {
		display: none;
	}
}

.layout {
	display: grid;
	gap: 1rem;
	padding: 1rem 0.5rem;
	grid-template-columns: 1fr;
}

	.layout .block {
		padding: 0.5rem;

	}

	.sidebar {
		background: #11111155;
	}

	.content {
		background: #ffff0055;
	}

@media (min-width: 45rem) {
	.layout {
		padding: 2rem;
	}
}

@media (min-width: 75rem) {
	.layout {
		grid-template-columns: 25rem 1fr;
	}
}

.footer {
	height: 50vw;
	background: #22222233;

}