<div class="side-bar">
    <div class="side-bar-list">
        <h4>GIS guides</h4>
        <ul>
            <div>
                <li>ArcGIS Pro</li>
                <ol>
                    <li>Úvod do GIS</li>
                    <li>Vektorové vrstvy</li>
                    <li>Rastry</li>
                </ol>
            </div>
            <li>QGIS</li>
            <ol>
                <li>Rozdíly</li>
                <li>Úvod</li>
                <li>Python</li>
            </ol>
        </ul>
    </div>
</div>