nav {
  display: grid;
  grid-template-columns: 18rem auto 10rem 3rem;
  border-bottom: solid #906090 1px;
  position: sticky;
  top: -3rem;
  z-index: 20;
  background: white;

  .nav-item {
    padding: 5rem 1.5rem 0;
    height: 9rem;
    transition: all .3s;


    &:hover {
      padding-top: 5.5rem;
      background: #90609088;
    }
  }

  .logo {
    color: #906090;

    span {
      font-size: 1.5rem;
    }

  }

  .menu {
    display: flex;
    justify-content: space-around;

    a {

      &:hover {

        &.yellow {
          background: yellow;
        }

        &.purple {
          background: purple;
          color: #ffffff;
        }

        &.blue {
          background: #1010aa88;
          color:#ffffff;
        }
      }
    }
  }

  .phone {

  }

  .menu-toggle {

  }
}