<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {% include 'layouts/nav.html.twig' %}
    <div class="main-grid">
        {% include 'layouts/side-bar.html.twig' %}
        <div class="content">
            <h1>Nadpis 1</h1>
            <p>Stručný popis nástroje, který bude asi jeden odstavec, nejspíš kurzívou?</p>
            <p>Odstavec postupu, klasický bez formátování. Jediné, co je potřeba nastavit je asi padding.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida lacus sit amet tellus sodales luctus. Vestibulum at venenatis eros. Proin vehicula ornare justo quis posuere. Nunc laoreet quis arcu vitae mattis. Etiam augue sem, rutrum in urna a, porttitor posuere magna. Curabitur erat lacus, ornare sed risus in, euismod molestie est. Vestibulum sed libero venenatis, dapibus urna eu, porttitor augue. Ut sed nulla luctus, pharetra sem sit amet, ultricies orci. Donec vel tellus eu est convallis facilisis. Proin convallis nisl ac odio vestibulum, sit amet imperdiet enim pretium. Etiam vitae nisl rutrum dui scelerisque mollis. </p>
            <p class="tip gelb outline">Poznámky, tipy, které se můžou hodit, když chceš zefektivnit práci.</p>
            <p class="tip gelb">Druhá možnost, jak může vypadat poznámka.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida lacus sit amet tellus sodales luctus. Vestibulum at venenatis eros. Proin vehicula ornare justo quis posuere. Nunc laoreet quis arcu vitae mattis. Etiam augue sem, rutrum in urna a, porttitor posuere magna. Curabitur erat lacus, ornare sed risus in, euismod molestie est. Vestibulum sed libero venenatis, dapibus urna eu, porttitor augue. Ut sed nulla luctus, pharetra sem sit amet, ultricies orci. Donec vel tellus eu est convallis facilisis. Proin convallis nisl ac odio vestibulum, sit amet imperdiet enim pretium. Etiam vitae nisl rutrum dui scelerisque mollis. </p>
            <p class="tip blau outline">Poznámky, tipy, které se můžou hodit, když chceš zefektivnit práci.</p>
            <p class="tip blau">Druhá možnost, jak může vypadat poznámka.</p>
            <img src="http://o-0.cz/pravitko.png" alt="pravitko">
            <p class="img-description">Pravítko</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida lacus sit amet tellus sodales luctus. Vestibulum at venenatis eros. Proin vehicula ornare justo quis posuere. Nunc laoreet quis arcu vitae mattis. Etiam augue sem, rutrum in urna a, porttitor posuere magna. Curabitur erat lacus, ornare sed risus in, euismod molestie est. Vestibulum sed libero venenatis, dapibus urna eu, porttitor augue. Ut sed nulla luctus, pharetra sem sit amet, ultricies orci. Donec vel tellus eu est convallis facilisis. Proin convallis nisl ac odio vestibulum, sit amet imperdiet enim pretium. Etiam vitae nisl rutrum dui scelerisque mollis. </p>
            <p class="tip rot outline">Poznámky, tipy, které se můžou hodit, když chceš zefektivnit práci.</p>
            <p class="tip rot">Druhá možnost, jak může vypadat poznámka.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida lacus sit amet tellus sodales luctus. Vestibulum at venenatis eros. Proin vehicula ornare justo quis posuere. Nunc laoreet quis arcu vitae mattis. Etiam augue sem, rutrum in urna a, porttitor posuere magna. Curabitur erat lacus, ornare sed risus in, euismod molestie est. Vestibulum sed libero venenatis, dapibus urna eu, porttitor augue. Ut sed nulla luctus, pharetra sem sit amet, ultricies orci. Donec vel tellus eu est convallis facilisis. Proin convallis nisl ac odio vestibulum, sit amet imperdiet enim pretium. Etiam vitae nisl rutrum dui scelerisque mollis. </p>
            <p class="tip lila outline">Poznámky, tipy, které se můžou hodit, když chceš zefektivnit práci.</p>
            <p class="tip lila">Druhá možnost, jak může vypadat poznámka.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida lacus sit amet tellus sodales luctus. Vestibulum at venenatis eros. Proin vehicula ornare justo quis posuere. Nunc laoreet quis arcu vitae mattis. Etiam augue sem, rutrum in urna a, porttitor posuere magna. Curabitur erat lacus, ornare sed risus in, euismod molestie est. Vestibulum sed libero venenatis, dapibus urna eu, porttitor augue. Ut sed nulla luctus, pharetra sem sit amet, ultricies orci. Donec vel tellus eu est convallis facilisis. Proin convallis nisl ac odio vestibulum, sit amet imperdiet enim pretium. Etiam vitae nisl rutrum dui scelerisque mollis. </p>
            <p class="tip grun outline">Poznámky, tipy, které se můžou hodit, když chceš zefektivnit práci.</p>
            <p class="tip grun">Druhá možnost, jak může vypadat poznámka.</p>
        </div>
    </div>
    <div class="footer">Footer</div>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
