<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo nav-item">
                <span>Zuzanka Fialová</span>
                Lednice
            </div>
            <div class="menu">
                <a href="" class="yellow nav-item">Home</a>
                <a href="" class="purple nav-item">GIS guides</a>
                <a href="" class="blue nav-item">Contact</a>
            </div>
            <div class="phone nav-item">111222333</div>
            <div class="menu-toggle nav-item">M</div>
        </nav>
    </div>
    <div class="main-grid">
        <div class="side-bar">Side bar</div>
        <div class="content">Content</div>
    </div>
    <div class="footer">Footer</div>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
